In [2]:
import pandas as pd
import numpy as np
import re

In [30]:
mcar = pd.read_csv('../원본데이터_1차전처리/PROCESSED/행정동별_월별_총자동차등록대수_2021-11_2023-12.csv')
enf = pd.read_csv('../원본데이터_1차전처리/PROCESSED/dongdaemun_all_dongs.csv')
daily = pd.read_csv('../원본데이터_1차전처리/PROCESSED/dongdaemun_daily_summary.csv')
reports = pd.read_csv('../원본데이터_1차전처리/PROCESSED/dongdaemun_reports_merged.csv')

In [32]:
ycar = pd.read_csv('RAW/자동차_주차_데이터프레임.csv')

In [13]:
STD_DONGS = [
    "용신동","제기동","전농1동","전농2동","답십리1동","답십리2동",
    "장안1동","장안2동","청량리동","회기동","휘경1동","휘경2동",
    "이문1동","이문2동",
]

In [14]:
def extract_dong(text) -> str|None:
    if not isinstance(text, str):
        return None
    t = text.replace(" ","")
    for d in STD_DONGS:
        if d in t: return d
    m = re.search(r"([가-힣0-9]+동)", t)
    return m.group(1) if m else None

def fill_road(row):
    if pd.notna(row["도로명"]): return row["도로명"]
    addr = row["구주소"]
    if isinstance(addr, str):
        return re.sub(r"\s*\d.*","",addr)  # 숫자 제거
    return None

def to_dt(s: pd.Series, fmt: str | None = None) -> pd.Series:
    """fmt 지정 우선, 실패 시 auto‑parse."""
    try:
        return pd.to_datetime(s, format=fmt, errors="raise")
    except Exception:
        return pd.to_datetime(s, errors="coerce")

In [15]:
enf["단속일_dt"] = to_dt(enf["단속일"].astype(str), "%Y%m%d")
enf["도로명"]   = enf.apply(fill_road, axis=1)
enf["행정동"]   = enf["구주소"].apply(extract_dong)

In [16]:
daily["일자_dt"] = to_dt(daily["일자"].astype(str), "%Y%m%d")
daily["행정동"]  = daily["행정동"].apply(extract_dong)

In [17]:
mcar = mcar[mcar["시군구"].str.contains("동대문")]
mcar["month_dt"] = to_dt(mcar["month"])
mcar["행정동"]   = mcar["행정동명"].apply(extract_dong)
mcar = mcar[["행정동","month_dt","total_registered"]]

In [18]:
mcar["month_dt"] = mcar["month_dt"].dt.to_period("M")

In [19]:
for c in ["자동차등록대수 (대)","주차면수 (면수)","주차장확보율 (%)"]:
    ycar[c] = pd.to_numeric(ycar[c], errors="coerce")

In [20]:
ycar_droped = ycar.copy()
ycar_droped = ycar_droped.drop('자동차등록대수 (대)',axis=1)
# 자동차등록대수 외 연도별 안변하는 변수들

In [22]:
# Reload data (already loaded but ensure fresh context)
annual_df = ycar
monthly_df = mcar

# Baseline: 2021 연간 자동차등록대수 (대)
baseline_total = annual_df.loc[annual_df['연도'] == 2021, '자동차등록대수 (대)'].iloc[0]

# Filter months from 2021‑11 onward
monthly_df = monthly_df[monthly_df['month_dt'] >= '2021-11-01']

# Sort for cumulative calculation
monthly_df = monthly_df.sort_values(['행정동', 'month_dt'])

# Compute cumulative sum of the monthly 'total_registered' for each 행정동
monthly_df['cum_added'] = monthly_df.groupby('행정동')['total_registered'].cumsum()

# Keep only required columns
result_df = monthly_df[['행정동', 'month_dt']]

In [23]:
ycar

      연도  자동차등록대수 (대)  주차면수 (면수)  주차장확보율 (%)
0   2011        91684     117687         128
1   2012        92373     119585         129
2   2013        93469     120256         128
3   2014        95301     121844         127
4   2015        96607     122229         126
5   2016        97333     128517         132
6   2017        97507     123174         126
7   2018        98324     135626         137
8   2019        97910     138200         141
9   2020        98030     142300         145
10  2021        98466     148063         150
11  2022        99447     148103         148
12  2023       102637     152281         148

In [24]:
daily["month_dt"] = daily["일자_dt"].dt.to_period("M")
panel = daily.merge(mcar, on=["행정동","month_dt"])

In [25]:
# 2‑3 연도별 주차 정보 붙이기
panel["연도"] = panel["일자_dt"].dt.year
panel = panel.merge(ycar_droped, on="연도", validate="many_to_one")

In [26]:
panel = panel.merge(result_df, on=["행정동","month_dt"])

In [27]:
result_dataframe = panel.loc[:,['일자_dt','month_dt','연도','행정동','단속건수','total_registered']]

In [28]:
result_dataframe.to_csv('PROCESSED/병합데이터프레임.csv',index=False)

In [29]:
result_dataframe

          일자_dt month_dt    연도    행정동  단속건수  total_registered
0    2021-11-01  2021-11  2021  답십리1동    21              9621
1    2021-11-02  2021-11  2021  답십리1동    24              9621
2    2021-11-03  2021-11  2021  답십리1동    10              9621
3    2021-11-04  2021-11  2021  답십리1동    11              9621
4    2021-11-05  2021-11  2021  답십리1동    10              9621
...         ...      ...   ...    ...   ...               ...
7905 2023-12-07  2023-12  2023   이문2동     1              6032
7906 2023-12-12  2023-12  2023   이문2동     0              6032
7907 2023-12-21  2023-12  2023   이문2동     2              6032
7908 2023-12-22  2023-12  2023   이문2동     1              6032
7909 2023-12-28  2023-12  2023   이문2동     1              6032

[7910 rows x 6 columns]